numpy
scipy
matplotlib
ipython
scikit-learn
ipykernel
jupyter
jupyterlab
pandas
seaborn
plotly
bokeh
xlrd
# lxml
https://github.com/better/alpine-tensorflow/releases/download/alpine3.7-tensorflow1.7.0/tensorflow-1.7.0-cp36-cp36m-linux_x86_64.whl
# jupyter_contrib_nbextensions

